<% revision = post.active_revision %>
<section>
  <%= render :partial => 'monologue/posts/revision_header', :locals => {:revision=>revision} %>

  <div class="content" data-monologue="content">
    <%= revision.summary %>
  </div>

  <div class="tags" data-monologue="tags">
    <%= render post.tags %>
  </div>
  <%= link_to t(".readmore"), revision.full_url, :class => "button" %>
</section>

